body {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    font-family:monospace;
}


#container {
    display: grid;
    margin: 10%;
    margin-right: 25%;
    grid-template: repeat(3, 150px) / repeat(3, 150px);
    color: rgb(5, 248, 17);
    border-radius: 10px;
}


#sidebar {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    grid-area: 1fr 2fr/3fr 2fr;
    color: rgb(5, 248, 17);
    font-size: 30px;
    font-weight: 1000;
    width: 300px;
    padding: 3%;
    text-align: center;
}

#header {
    padding: 30px;
}

#content {
    margin-top: auto;
    text-align: center;
}
input {
    margin-bottom: auto;
}

#tail {
    padding: 30px;
    margin-top: auto;
    font-size: medium;
}

#buttonsContainer {
    display: flex;
    margin-top: 30px;
    order: 4;
    padding: 30px;
}
#playerOne {
    border: 1px solid;
    border-radius: 10px;
    background-color: black;
    padding: 20px;
    color: rgb(5, 248, 17);
    font-size: 20px;
    text-align: center;
}

button {
    visibility : hidden;
    background-color: black;
    color: rgb(5, 248, 17);
    border: 1px solid rgb(5, 248, 17);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 1000;
    width: 100%;
    text-align:center;
}

#exit {
    display: none;
}

#inputSubmit {
    visibility : visible;
    padding: 10px;
    margin-top: 20px;
    margin-left: 200px;
    width: fit-content;
    color: rgb(5, 248, 17);
}


.square{
    height:150px;
    width: 150px;
    border: 1px solid rgb(5, 248, 17);
    background-color: black;
    text-align: center;
    font-size: 800%;
    color: rgb(5, 248, 17);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

