body {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    min-height: 1100px;
    font-family:monospace;
}

#sidebar {
    display: flex;
    flex-direction: column;
    grid-template: 1fr 1fr/1fr 1fr;
    color: rgb(5, 248, 17);
    font-size: 30px;
    font-weight: 1000;
    width: 300px;
    padding: 3%;
}

#header {
    padding: 30px;
}

#content {
    margin-top: auto;
    text-align: center;
}
input {
    margin-bottom: auto;
}

#tail {
    padding: 30px;
    margin-top: auto;
    font-size: medium;
}

#buttonsContainer {
    display: flex;
    margin-top: 30px;
    order: 4;
    padding: 30px;
}
#playerOne {
    background-color: black;
    padding: 20px;
    color: rgb(5, 248, 17);
    font-size: 20px;
    text-align: center;
}



button {
    visibility : hidden;
    background-color: black;
    color: rgb(5, 248, 17);
    border: 1px solid rgb(5, 248, 17);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 1000;
    width: 100%;
    text-align:center;
}

#inputSubmit {
    visibility : visible;
    border: 1px solid;
    padding: 10px;
    margin-top: 20px;
    margin-left: 200px;
    width: fit-content;
    color: rgb(5, 248, 17);
}

#container {
    margin-right: auto; 
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    color: rgb(5, 248, 17);
    border-radius: 10px;
}


.square{
    border: 1px solid rgb(5, 248, 17);
    background-color: black;
    text-align: center;
    font-size: 1000%;
    color: rgb(5, 248, 17);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

